html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    color: #ffffff;
}

body::-webkit-scrollbar {
    background: none;
    width: 6px;
}

body::-webkit-scrollbar-thumb {
    background-color: #ce3535;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-sizing: border-box;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, rgb(213, 178, 175) 20%, rgb(230, 185, 185) 25%, rgb(223, 113, 44) 21%, #f03030 14%);
    -webkit-animation: AnimateBG 7s ease infinite;
    animation: AnimateBG 7s ease infinite;
}

@-webkit-keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header .logo {
    font-size: 2rem;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to right, #000101, #020700);
    -webkit-background-clip: text; /* For Safari/Chrome/iOS */
    background-clip: text;
    color: transparent;
}

header .search-bar input {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.main-content {
    display: flex;
    flex-grow: 1;
}

.side-menu {
    width: 200px;
    background-color: #333333;
    padding-top: 2rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.side-menu ul li {
    margin: 1rem 0;
    text-align: center;
}

.side-menu ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
    display: block;
    width: 100%;
    padding: 1rem 0;
}

.side-menu ul li a:hover {
    color: #FF2D55; /* Apple Music pink */
}

main {
    flex-grow: 1;
    padding: 2rem;
    box-sizing: border-box;
}

.section {
    margin-bottom: 2rem;
}

.section h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #FF2D55; /* Apple Music pink */
}
p{
    font-family:"Poppins";
}
.albums {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Optional: Enables smooth scrolling on iOS */
    margin-bottom: 1rem;
}

.albums::-webkit-scrollbar {
    background-color: #000000;
    border-radius: 10px;
    height: 2px;
}

.albums::-webkit-scrollbar-thumb {
    height: 2px;
    background-color: #c63f58;
    border-radius: 5px;
}

.album-item {
    flex: 0 0 auto; /* Ensure items do not grow or shrink */
    margin-right: 1rem; /* Add space between items */
    text-align: center;
    cursor: pointer;
    position: relative; /* Needed for positioning the play button */
}

.album-item img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    transition: opacity 0.3s;
}

.album-item:hover img {
    opacity: 0.7; /* Makes the image slightly opaque */
}

.album-item .play-button {
    position: absolute;
    top: 60%;
    
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; /* Initially hidden */
    font-size: 2rem;
    color: white;
    opacity: 0.7;
}

.album-item:hover .play-button {
    display: block; /* Show the play button on hover */
}

.singers, .trending {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    overflow: hidden;
}

.singer-item, .trending-item {
    flex: 1 1 150px; /* Adjust the width to fit your design */
    margin: 1rem;
    text-align: center;
    box-sizing: border-box;
    position: relative; /* Needed for positioning the play button */
}

.singer-item img, .trending-item img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    transition: opacity 0.3s;
}

.singer-item:hover img, .trending-item:hover img {
    opacity: 0.7; /* Makes the image slightly opaque */
}

.singer-item .play-button, .trending-item .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; /* Initially hidden */
    font-size: 2rem;
    color: white;
    opacity: 0.7;
}

.singer-item:hover .play-button, .trending-item:hover .play-button {
    display: block; /* Show the play button on hover */
}

.ilo {
    color: #f50202;
}

.ilo:hover {
    background: #f50202;
    color: #ffffff;
}

.section {
    padding: 20px; /* Adjust padding as needed */
  }
  
  .trending {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: thin; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
  }
  
  .trending::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    height: 8px; /* Height of the scrollbar */
  }
  
  .trending::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); /* Color of the scrollbar */
    border-radius: 10px; /* Roundness of the scrollbar */
  }
  
  .trending-item {
    flex: 0 0 auto;
    margin-right: 20px; /* Adjust the margin as needed */
  }
  